@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wedding themed fonts */
@import url("https://fonts.googleapis.com/css2?family=Parisienne&family=Franklin+Gothic+Book&display=swap");

* {
  scroll-behavior: smooth;
}

body {
  font-family: "Parisienne", serif;
  background-image: url("https://img.freepik.com/free-vector/paper-3d-floral-seamless-pattern-vector-paper-background_1284-47685.jpg?w=996&t=st=1683352140~exp=1683352740~hmac=9eeeeb87fa57d24db07fa525befd67b6cdfcf5809310faadb4d7aa9917f28a00");
  background-color: #f6f6f5;
  padding: 2rem;
  color: #4b5563;
  font-size: 1.2rem;
  font-weight: 600;
}

h1,
h2,
h3 {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
}

h4,
h5,
h6 {
  font-family: "Tangerine", cursive;
  font-weight: bold;
}

input,
select {
  outline: none;
}

.batch_heart {
  background: #f9c9d8;
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  right: -24%;
  top: -9%;
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Decorative Elements */
.section-divider {
  border-bottom: 1px solid #fbe4d3;
  margin: 30px 0;
}

.floral-icon {
  background-image: url("https://example.com/floral-icon.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}

.heart-icon {
  background-image: url("https://example.com/heart-icon.png");
  background-size: contain;
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
}

a:hover {
  color: #b7410e;
}